<html  xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>页</title>
		<link type="text/css" rel="stylesheet" href="../assets/css/stylesheet.css">
	</head>
	<body >
		<h2 id="Page">页</h2>
		<h3 id="description">描述</h3>
		<p>该页面是与您将操作的用户界面直接相关的第一个概念。它将包含或引用用户界面中显示的所有内容。使用Sirius集成，每个页面将在Properties视图中创建一个新选项卡。</p>
		<h3 id="properties">属性</h3>
		<ul>
			<li>identifier：此属性用于标识页面，它由EEF运行时使用，以便确定是否必须从头开始重新创建用户界面，或者是否可以在更改选择期间重用它。</li>
			<li>labelExpression：标签表达式用于计算页面的标签。使用Sirius集成，此表达式将用于计算“属性”视图中选项卡的标签。该表达式必须返回一个字符串。</li>
			<li>domainClass：使用域类来确定页面是否可用于当前输入。如果页面使用域类，则仅当当前输入是具有EClass的EObject时才会显示该域，该EClass直接匹配域类或与其匹配域类的超类之一。</li>
			<li>semanticCandidateExpression：语义候选表达式用于选择将用作页面当前上下文的对象。例如，它允许您使用对象作为视图的输入，但随后决定在特定页面中显示另一个对象的属性。此表达式必须返回一个对象或一组对象，以用作页面的新上下文。下面提供了更多信息，以便从一个定义创建多个页面。</li>
			<li>preconditionExpression：前置条件表达式用于确定是否应显示页面。该表达式必须返回一个布尔值。</li>
			<li>groups：应在此页面中使用的<a href="group.html">组</a>列表。
			</li>
			<li>semanticValidationRules：页面的验证规则。有关EEF中验证的更多详细信息，请查看<a href="validation.html">验证</a>文档。
			</li>
			<li>actions：用于在页面工具栏中创建按钮的工具栏操作列表。这些动作可以包含一个tooltipExpression，它应该返回一个用作工具提示的字符串，一个用户点击按钮时执行的actionExpression和一个用于配置按钮外观的imageExpression。imageExpression必须返回具有以下结构PROJECT_NAME / IMAGE_PATH的字符串，例如：org.eclipse.sample / icons / Icon.gif</li>
		</ul>
		<h4 id="variables">变量</h4>
		<p>语义候选表达式可以访问两个变量<code>self</code>和视图中的<code>input</code> 。语义候选表达式的结果将作为页面的其他表达式和页面下的概念的变量<code>self</code>的新上下文来访问。
		</p>
		<p>标签表达式和前置条件表达式（沿着语义验证规则中的表达式）将可以访问变量<code>input</code>和变量<code>self</code> ，它们现在将包含页面的语义候选表达式的值。
		</p>
		<h3 id="multiplepagesfromonedefinition">从一个定义创建多个页面</h3>
		<p>如果您有一个非常复杂的元模型，则无法在窗口小部件之后创建用户界面窗口小部件的定义。为了处理这些情况，您需要更强大的机制。使用与Eclipse Sirius相同的方法和词汇表，您可以使用语义候选表达式在EEF中使用单个定义创建多个页面。</p>
		<p>语义候选表达式的目标是让您确定将哪个对象用作页面的上下文。默认情况下，如果未指定语义候选表达式，我们将重用视图的输入。像往常一样，在我们的示例中，我们将使用基于AQL的表达式，考虑到这一点，不指定语义候选表达式与使用<code>aql:self</code>相同。在语义候选表达式中，变量<code>self</code>是视图的输入。
		</p>
		<p>您还可以使用表达式<code>aql:self.anotherObject</code>更改页面中使用的当前对象。您可以输入几乎任何有效的表达式来导航到另一个对象，但是如果此表达式返回一个对象集合而不是一个对象，则可以使用此机制从语义候选表达式创建多个页面。
		</p>
		<p>如果使用表达式<code>aql:self.otherObjects-&gt;select(object | object.isValid())</code>作为语义候选表达式，则将为表达式返回的每个对象创建一个页面。这样，您就可以拥有一个简单的定义，可以处理您域中的许多元素。
		</p>
	</body>
</html>